<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="net.thedju.GoOnTap" android:versionCode="15" android:versionName="1.4.6" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="23" />
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
	<application android:label="Go on Tap">
		<service android:name="net.thedju.GoOnTap.InteractionService" android:permission="android.permission.BIND_VOICE_INTERACTION">
			<meta-data android:name="android.voice_interaction" android:resource="@xml/interaction_service" />
			<intent-filter>
				<action android:name="android.service.voice.VoiceInteractionService" />
			</intent-filter>
		</service>
		<service android:name="net.thedju.GoOnTap.InteractionSessionService" android:permission="android.permission.BIND_VOICE_INTERACTION" />
	</application>
</manifest>